﻿@model G2V.Models.ventes
@{
    ViewBag.Title = "Read";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Détails</h2>


<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Produit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.num_client)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.num_client)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.num_voiture)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.num_voiture)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.qte)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.qte)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.date_vente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.date_vente)
        </dd>
    </dl>
    <p>
        @Html.ActionLink("Modifier", "Update", new {Id = Model.Id }) |
        @Html.ActionLink("Retour à la liste", "Vente")
    </p>
</div>