﻿@model IEnumerable<G2V.Models.ventes>
@{
    ViewBag.Title = "Vente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vente</h2>

<div class="container mt-3">
    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#Liste">Liste des Ventes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Facture">Edition d'une facture</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Etat">Etat d'un produit</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div id="Liste" class="container tab-pane active">
            <br>
            <p class="btn btn-light btn-lg text-white">
                @Html.ActionLink("Nouveau vente", "Create")
            </p>
            <p>Liste des Produits</p>

            <table id="dataTables" style="text-align: center;" class="table table-light table-bordered">
                <thead>
                    <tr>
                        <th>Numéro du client</th>
                        <th>Numéro de la voiture</th>
                        <th>Quatité</th>
                        <th>Date de vente</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.num_client)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.num_voiture)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.qte)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.date_vente)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Update", new { Id = item.Id }) |
                                @Html.ActionLink("Details", "Read", new { Id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { Id = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


            <div class="container">
                <h2>Fading Modal</h2>
                <p>Add the "fade" class to the modal container if you want the modal to fade in on open and fade out on close.</p>

                <!-- Button to Open the Modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    Open modal
                </button>

                <!-- The Modal -->
                <div class="modal fade" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Modal Heading</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                Modal body..
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div id="Facture" class="container tab-pane fade">
            <br>
            <h3>Facture</h3>
            <div class="row">
                <div class="col col-sm-4">
                    <form class="form-inline">
                        <label for="facture">Facture Numéro :</label>
                        <input type="text" class="form-control" id="facture">
                    </form>
                    <form class="form-inline">
                        <label for="num_cli">numéro du client :</label>
                        <input type="text" class="form-control" id="num_cli">
                    </form>
                </div>
                <div class="col col-sm-4">
                    <form class="form-inline">
                        <label for="date">Date de Facture :</label>
                        <input type="date" class="form-control" id="date">
                    </form>
                    <form class="form-inline">
                        <label for="nom_cli">Nom du client :</label>
                        <input type="text" class="form-control" id="nom_cli" readonly>
                    </form>
                </div>
                <div class="col col-sm-4">

                </div>
            </div>

            <table id="Facture" style="text-align: center;" class="table table-light table-bordered">
                <thead>
                    <tr>
                        <th>Numéro de la voiture</th>
                        <th>Marque</th>
                        <th>Quatité</th>
                        <th>Prix Unitaire (Ar)</th>
                        <th>Montant</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.num_client)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.num_voiture)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.qte)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.date_vente)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.date_vente)
                            </td>
                        </tr>
                    }
                    <tr>
                        <td class="border border-0"></td>
                        <td >
                        </td>
                        <td>
                        </td>
                        <td>
                            TOTAL
                        </td>

                        <td>
                            @ViewBag.Total Ar
                        </td>
                    </tr>
                </tbody>
            </table>

            <p>ARRETE LA SOMME DE : <span class="text-info"> un million deux cent mille ariary</span></p>
         </div>


        <div id="Etat" class="container tab-pane fade">
            <br>
            <h3>Etat d'un Stock</h3>
            <div class="row">
                <div class="col col-sm-4">
                    <form class="form-inline">
                        <label >Numéro du Produit:</label>
                        <input type="text" class="form-control">
                    </form>
                    <form class="form-inline">
                        <label >Etat actuel :</label>
                        <input type="text" class="form-control"  readonly>
                    </form>
                </div>
                <div class="col col-sm-4">
                    <form class="form-inline">
                        <label >Nom du produit :</label>
                        <input type="text" class="form-control"  readonly>
                    </form>
                </div>
                <div class="col col-sm-4">
                    <form class="form-inline">
                        <label>Entre la date :</label>
                        <input type="date" class="form-control">
                    </form>
                    <form class="form-inline">
                        <label>Et :</label>
                        <input type="date" class="form-control">
                    </form>
                </div>
            </div>

            <table id="Facture" style="text-align: center;" class="table table-light table-bordered">
                <thead>
                    <tr>
                        <th>Numéro de la voiture</th>
                        <th>Marque</th>
                        <th>Quatité</th>
                        <th>Prix Unitaire (Ar)</th>
                        <th>Montant</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.num_client)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.num_voiture)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.qte)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.date_vente)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.date_vente)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>     
         </div>

    </div>


</div>


