﻿@model IEnumerable<G2V.Models.client>
@{
    ViewBag.Title = "Client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Client</h2>
@ViewBag.error
<p>Liste des Clients</p>
<p class="btn btn-light btn-lg text-white">
    @Html.ActionLink("Nouveau Client", "Create")
</p>
<p class="text-success"> @ViewBag.Message</p>

<table id="dataTables" style="text-align: center;" class="table table-light table-bordered">
    <thead>
        <tr>
            <th>Numéro du Client</th>
            <th>Nom</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.num_client)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nom)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Update", new { num_client = item.num_client }) |
                    @Html.ActionLink("Details", "Read", new { num_client = item.num_client }) |
                    @Html.ActionLink("Delete", "Delete", new { num_client = item.num_client })
                </td>
            </tr>
        }
    </tbody>
</table>

