﻿@model G2V.Models.client
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.num_client)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.num_client)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retour à la liste", "Client")
        </div>
    }
</div>
