﻿@model G2V.Models.client
@{
    ViewBag.Title = "Read";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.num_client)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.num_client)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Update", new { num_client = Model.num_client }) |
    @Html.ActionLink("Retour à la liste", "Client")
</p>