﻿@model IEnumerable<G2V.Models.Etat_Stock>
@{
    ViewBag.Title = "Etat_Stock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Etat d'un Stock</h2>
<div class="row">
    <div class="col col-sm-4">
        @using (Html.BeginForm(new { @class = "form-horizontal", role = "form" }))
        {      
            <label>Numéro du Produit:</label>@Html.TextBox("num") <br />
    <label>Date Entre:</label>@Html.TextBox("date1")
    <label>et   </label>@Html.TextBox("date2")
    <button type="submit" class="btn btn-secondary"> Search</button>

        }
    </div>
    <div class="col col-sm-4">
        <form class="form-inline">
            <label>Marque du produit :</label>
            <input type="text" class="form-control" value="@ViewBag.marque" readonly>
        </form>

        <form class="form-inline">
            <label>Etat actuel :</label>
            <input type="text" class="form-control" value="@ViewBag.etat" readonly>
        </form>
    </div>
</div>

<table id="Facture" style="text-align: center;" class="table table-light table-bordered">
    <thead>
        <tr>
            <th>Client</th>
            <th>Quantité</th>
            <th>Date de Ventes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Client)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QTE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date_vente)
            </tr>
        }
    </tbody>
</table>


