﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron ">
    <div class="container">
        <h1>Projet FRAMEWORK (ASP.NET)</h1>
        
        <h5 class="font-weight-light font-italic"> En utilisant le MVC </h5>
    </div>
</div>
<div class="card-deck">
    <div class="card bg-secondary">

        <div class="card-body text-white">
            <h4 class="card-title">Identification</h4>
            <p class="card-text">ANDRIAMALAZA Rodin Bertrand<br> L3 IG - N°:07</p>

        </div>
    </div>
    <div class="card bg-secondary">

        <div class="card-body text-white">
            <h4 class="card-title">Identification</h4>

            <p class="card-text">FISANDRATANTSOA  T. Pierre Ejès Aimé <br> L3 IG - N°:34 </p>

        </div>
    </div>

    <div class="card bg-secondary">

        <div class="card-body text-white">
            <h4 class="card-title">Identification</h4>

            <p class="card-text">HARINAMBININA   Christo Stanislas <br> L3 IG - N°:37</p>
        </div>

    </div>
</div>



        </div>
    </div>

</div>