﻿@model IEnumerable<G2V.Models.ventes>

@{
    ViewBag.Title = "liste_voiture_vendu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>liste des voitures Vendues</h2>
@using (Html.BeginForm(new { @class = "form-horizontal", role = "form" }))
{
    
    <label>Date Entre:</label>@Html.TextBox("date1")
    <label>et </label>@Html.TextBox("date2")
    <button type="submit" class="btn btn-secondary"> Search</button>

}
<table id="dataTables" style="text-align: center;" class="table table-light table-bordered">
    <tr>
        <th>
            Numéro du Produit
        </th>
        <th>
           Numéro du client
        </th>
        <th>
            Quantité
        </th>
        <th>
            Date de Vente
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.num_voiture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.num_client)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.qte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_vente)
            </td>
        </tr>
    }

</table>
