﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/bootstrap.min.css")
       @Styles.Render("~/Scripts/bootstrap.min.js")
        @Scripts.Render("~/Scripts/jquery.min.js")
        @Scripts.Render("~/Scripts/popper.min.js")
        @Scripts.Render("~/Scripts/iconwc.js")
    <link rel="stylesheet" href="~/Content/StyleLayout.css" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/iconwc.js"></script>
    <script src="~/Scripts/canvasjs.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark justify-content-center fixed-top">
        <div class="mx-auto" style="font-size: 30px; color: white;">Gestion des Ventes</div>
    </nav>
    <div class="sidebar bg-secondary">

        <a> @Html.ActionLink("Home", "Index", "Home")</a>
        <a> @Html.ActionLink("Produit", "Produit", "Produit")</a>
        <a> @Html.ActionLink("Client", "Client", "Client")</a>
        <a> @Html.ActionLink("Vente", "Vente", "Vente")</a>
        <a> @Html.ActionLink("Liste des produits Vendues", "liste_voiture_vendu", "Home")</a>
        <a> @Html.ActionLink("Edition d'un facture", "facture", "Home")</a>
        <a> @Html.ActionLink("Etat d'un Stock", "Etat_Stock", "Home")</a>
        <a> @Html.ActionLink("Bilan", "Bilan", "Home")</a>
    </div>

        <div class="main">
            @RenderBody()
            
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
    
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

    <link rel="stylesheet" href="~/Content/dataTables.bootstrap.css">
    <script type="text/javascript" src="~/Scripts/dataTables.bootstrap.js"></script>
    <script src="~/Script/canvasjs.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.dataTables.css">
    <script type="text/javascript">var i = 1;</script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTables').DataTable({
                "language" :{
                    "emptyTable": "Aucun données dans cette table",
                    "info": "Affichage _START_ à _END_ de _TOTAL_ enregistrements",
                    "infoEmpty": "Affichage 0 to 0 of 0 enregistrements",
                    "infoFiltered": "(filtered from _MAX_ total entries)",
                    "infoPostFix": "",
                    "lengthMenu": "Afficher _MENU_ enregistrements",
                    "loadingRecords": "Chargement...",
                    "processing": "Processing...",
                    "search": "Recherche ici :",
                    "zeroRecords": "Aucun résultat n'est trouvé",
                    "paginate": {
                        "first": "Premier",
                        "previous": "précedent",
                        "next": "Suivant",
                        "last": "Dernier"
                    },
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "decimal": "",
                    "thousands": ","

                }
            });
        });

    </script>
</body>


</html>
